## Default: rabbitmq
RABBITMQ_CONTAINER_NAME=weathersched-rabbitmq
## Default: 5672
RABBITMQ_MAIN_PORT=
## Default: 15672
RABBITMQ_MANAGEMENT_PORT=
## Default: rabbitmq
RABBITMQ_USER=
## Default: rabbitmq
RABBITMQ_PASSWORD=
## Default: (named volume) rabbitmq_data
RABBITMQ_DATA_DIR=

## Default: redis
REDIS_CONTAINER_NAME=weathersched-redis
## Default: 6379
REDIS_PORT=
## Default: (named volume) redis_data
REDIS_DATA_DIR=./vols/redis/data

# Default: "bullseye". Tag for docker image (i.e. <image>:<tag>).
#   https://hub.docker.com/_/postgres/?tab=tags
POSTGRES_IMAGE_TAG=
# Default: postgres
POSTGRES_CONTAINER_NAME=weathersched-postgres
# Default: postgres
POSTGRES_USER=
# Default: postgres
POSTGRES_PASSWORD=
# Default: named volume "postgres_data"
POSTGRES_DATA_DIR=./vols/postgres/data
## Default: ./pgsql_scripts
POSTGRES_SCRIPTS_DIR=./vols/postgres/pgsql_scripts
## Default: ./pg_entrypoint
POSTGRES_ENTRYPOINT_DIR=./vols/postgres/pg_entrypoint
## Default: postgres
POSTGRES_DATABASE=
# Default: 5432
POSTGRES_PORT=
# Default: unset
# Read section on this variable in docker docs before setting:
#   https://hub.docker.com/_/postgres/
POSTGRES_HOST_AUTH_METHOD=

# Default: latest
#   https://hub.docker.com/r/dpage/pgadmin4/tags
PGADMIN_IMAGE_TAG=
# Default: pgadmin
PGADMIN_CONTAINER_NAME=weathersched-pgadmin
# Default: admin@example.com
PGADMIN_DEFAULT_EMAIL=
# Default: pgadmin
PGADMIN_DEFAULT_PASSWORD=
# Default: 80
PGADMIN_LISTEN_PORT=
# Default: 15432
PGADMIN_PORT=
# Default: ./vols/pgadmin/data
PGADMIN_DATA_DIR=

## Default: rabbitmq
CELERY_BROKER_HOST=
## Default: redis
CELERY_BACKEND_HOST=
## Default: INFO
CELERY_WORKER_LOG_LEVEL=
## Default: INFO
CELERY_BEAT_LOG_LEVEL=
## Default: 0
CELERY_WORKER_UID=
CELERY_WORKER_GID=
## Default: Etc/UTC
CELERY_TZ=

## Default: unset/None
WEATHERAPI_API_KEY=
## Default: London
WEATHERAPI_API_LOCATION=
